<% if @error %>
  <div class='error'>
    <p><%= @error %></p>
  </div>
  <% session.delete(:last_error) %>
<% end %>


<h2>Pictionary Telephone!</h2>
<div id='instructions'>
  <p><u>What's This</u> is a game where players alternate between drawing pictures based off captions and writing captions to describe pictures. The end result is a hilarious timeline that becomes more distorted with every turn.</p>
  <ul>
    <li style='color:#31B404'>Click on a picture or caption to contribute to an existing game.</li>
    <li style='color:#0101DF'>A game is finished after 10 rounds.</li>
    <li style='color:#DBA901'>Timelines of finished games can be viewed in the Archive.</li>
    <li style='color:#FF00FF'>Start a new game by clicking on 'start new game' in the nav bar.</li>
  </ul>
</div>

<h3>Recent Pictures</h3>
<% if @recent_drawings.empty? %>
  <div class='error'>
    <p>No Recent Pictures</p>
  </div>
<% end %>
<% @recent_drawings.each do |drawing| %>

  <div class='outer-picture-container'>
    <div class='inner-picture-container'>
      <a href="/games/<%= drawing.game_id %>/play"><%= drawing.thumbnail %></a>
    </div>
    <p class='author'>by <%= drawing.user.username %></p>
    <p class='round-info'>Round <%= drawing.game.get_game_elements.count %> of 10</p>
  </div>
<% end %>
  


<h3 style="clear:left">Recent Descriptions</h3>
<% if @recent_descriptions.empty? %>
  <div class='error'>
    <p>No Recent Descriptions</p>
  </div>
<% end %>
<div class='description-list' style="clear:left">
  <% @recent_descriptions.each do |description| %>
    <div class='outer-description-container'>
      <div class='inner-description-container'>
        <a href="/games/<%= description.game_id %>/play"><p><%= description.body %></p></a>
      </div>
      <p class='author'>by <%= description.user.username %></p>
      <p class='round-info'>Round <%= description.game.get_game_elements.count %> of 10</p>
    </div>
  <% end %><br><br>
</div>

