<h2>Games in Progress</h2>
<h4>Click to play!</h4>

<h3>Recent Pictures</h3>
<% if @recent_drawings.empty? %>
  <div class='error'>
    <p>No Recent Pictures</p>
  </div>
<% end %>
<% @recent_drawings.each do |drawing| %>

  <div class='outer-picture-container'>
    <div class='inner-picture-container'>
      <a href="/games/<%= drawing.game_id %>/play"><%= drawing.thumbnail %></a>
    </div>
    <p class='author'>by <%= drawing.user.username %></p>
    <p class='round-info'>Round <%= drawing.game.get_game_elements.count %> of 15</p>
  </div>
<% end %>
  


<h3 style="clear:left">Recent Descriptions</h3>
<% if @recent_descriptions.empty? %>
  <div class='error'>
    <p>No Recent Descriptions</p>
  </div>
<% end %>
<div class='description-list' style="clear:left">
  <% @recent_descriptions.each do |description| %>
    <div class='outer-description-container'>
      <div class='inner-description-container'>
        <a href="/games/<%= description.game_id %>/play"><p><%= description.body %></p></a>
      </div>
      <p class='author'>by <%= description.user.username %></p>
      <p class='round-info'>Round <%= description.game.get_game_elements.count %> of 15</p>
    </div>
  <% end %><br><br>
</div>

