<h3>My Games</h3>

<h4>Games I Started</h4>

<div>
  <% @user_created_game_first_elements.each do |element| %>

    <% if element.class == Drawing %>
      <div class='picture-container'>
        <a href="/games/<%= element.game_id %>"><%= element.thumbnail %></a>
      </div>
    <% elsif element.class == Description %>
      <div class='outer-description-container'>
        <div class='inner-description-container'>
          <a href="/games/<%= element.game_id %>"><p><%= element.body %></p></a>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
<br>
<br>

<div style="clear:left">
  <h4>My Contributions</h4>

  <% @user_contributions.each do |element| %>

    <% if element.class == Drawing %>
      <div class='picture-container'>
        <a href="/games/<%= element.game_id %>"><%= element.thumbnail %></a>
      </div>
    <% elsif element.class == Description %>
      <div class='outer-description-container'>
        <div class='inner-description-container'>
          <a href="/games/<%= element.game_id %>"><p><%= element.body %></p></a>
        </div>
      </div>
    <% end %>

  <% end %>
</div>