<h2>My Games</h2>

<div class='tab'>
  <ul>
    <li class='active'>Games I Started</li>
    <li>Games I Played</li>
  </ul>
</div><br>

<div class='tab-pages'>

  <div class='tab-page'>
    <h3>Games I Started</h3>
    <% if @user_created_game_first_elements.empty? %>
      <div class="error">
        <p>You don't seem to have started any games.</p>
      </div>
    <% end %>
    <% @user_created_game_first_elements.each do |element| %>
      <% if element.class == Drawing %>
        <div class='outer-picture-container'>
          <div class='inner-picture-container'>
            <a href="/games/<%= element.game_id %>"><%= element.thumbnail %></a>
          </div>
          <p class='author'>by <%= element.user.username %></p>
          <p class='round-info'>Round <%= element.game.get_game_elements.count %> of 15</p>
        </div>
      <% elsif element.class == Description %>
        <div class='outer-description-container'>
          <div class='inner-description-container'>
            <a href="/games/<%= element.game_id %>"><p><%= element.body %></p></a>
          </div>
          <p class='author'>by <%= element.user.username %></p>
          <p class='round-info'>Round <%= element.game.get_game_elements.count %> of 15</p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class='tab-page hidden'>
    <h3>My Contributions</h3>
    <% if @user_contributions.empty? %>
      <div class="error">
        <p>You don't seem to have contributed to any games.</p>
      </div>
    <% end %>
    <% @user_contributions.each do |element| %>
      <% if element.class == Drawing %>

        <div class='outer-picture-container'>
          <div class='inner-picture-container'>
            <a href="/games/<%= element.game_id %>"><%= element.thumbnail %></a>
          </div>
          <p class='author'>by <%= element.user.username %></p>
          <p class='round-info'>Round <%= element.game.get_game_elements.count %> of 15</p>
        </div>

      <% elsif element.class == Description %>
        <div class='outer-description-container'>
          <div class='inner-description-container'>
            <a href="/games/<%= element.game_id %>"><p><%= element.body %></p></a>
          </div>
          <p class='author'>by <%= element.user.username %></p>
          <p class='round-info'>Round <%= element.game.get_game_elements.count %> of 15</p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>